body{
	margin: 0;
	font-family: Arial;
	font-size: 12px;
	background-color: #eeeeee;
}
nav {
	justify-content: space-between;
}



.nav-top{
	justify-content: space-between;
	background-color: white;
	display: flex;	
	height: 60px;
	align-items: center;
}

.nav-item-left {
	display: flex;
	justify-content: space-around;
	padding-left: 40px;
    padding-top: 15px;
    padding-right: 15px;
	
}
.nav-item-center {	
	display: flex;
	border: 1px solid gray;
	height: 30px;
	margin-top: 3px;
}
#logo-nav{
	width: 200px;
	margin: 0;
    padding: 0;
    height: 60px;
}
#YT_logo_nav{
	 height: 50px;
}

#burger-nav{	
	height: 22px;
}
#burger-nav-img{
	height: 16px;
    margin-top: 19px;
}
#searchbar {
	width: 200px;
	box-sizing: border-box;
	margin-left: 2px;
	margin-top: 2px;
	border: none;
	border-color: gray;
	width: 500px;
	border-radius: 0%;
}
#button-searchbar{
	background-color: #8080800a;
    border: none;
    border-left: 1px solid gray;
}

.nav-item-right{
	display: flex;
	justify-content: space-around;
	padding-right: 60px;
}

.button {
  	border: none;
    color: white;
    margin-top: 1px;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 2px;
    font-weight: bold;
}

.signin{
background-color: #008CBA;
}

.img-upload{
	height: 23px;
    margin-top: 9px;
    padding-left: 20px;
    padding-right: 20px;
}
